{{ template "base" . }}

{{ define "title" }} Home - Snippents {{ end }}

{{ define "body" }}
    {{ if .Snippets }}
        {{ template "snippets" . }}
    {{ else }}
        {{ template "no-snippets" . }}
    {{ end }}
{{ end }}
